# File temporanei e di backup
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups/
*.zip

# File di blocco (evitano l'apertura simultanea)
*.lck

# File di output della fabbricazione (opzionale, meglio rigenerarli)
Gerber/
plots/
#*.pdf
*.drl
*.gbr